.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 20px;
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.login-form-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: white ;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.google-login {
    margin-top: 20px;
}

.google-button {
    width: 100%;
    padding: 12px;
    background-color: white;
    color:  black;
    border: 1px solid black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.google-logo {
    width: 25px;
    margin-right: 10px;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}